<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Requête Artworks</h2>
    <br>
    <br>
    <form method="POST" action="/api/artworks">
        <input type="text" name="username" placeholder="Nom d'utilisateur">
        <input type="password" name="password" placeholder="Mot de passe">
        <input type="file" name="image">
        <button type="submit">Soumettre</button>
      </form>
</body>
</html> 